.container {
  margin: 0 48px;
  display: flex;
  flex-direction: column;
}

.input {
  margin: 8px 0;
  padding-left: 24px;
  background-color: #edf5fa;
  height: 3em;
  border: none;
  border-radius: 25px;
  font-size: large;
}

.input::placeholder {
  color: #404040;
}

.loginButton {
  margin: 8px 0;
  background-color: #000;
  height: 2.5em;
  border: none;
  border-radius: 50px;
  font-size: x-large;
  color: #fff;
}

.forgotPasswordButton {
  margin-bottom: 64px;
  background: none;
  border: none;
  font-size: medium;
  color: #18a0fb;
}

.registerButton {
  margin-top: 8px;
  background-color: #18a0fb;
  height: 2.5em;
  border: none;
  border-radius: 50px;
  font-size: large;
  color: #fff;
}
