.container {
    max-width: 35em;
    margin: 0 auto;
    text-align: center;
    margin-top: 10em;
}

.container input,
.container textarea {
    width: 100%;
    padding: 1em;
    margin: 1.2em 0;
    box-sizing: border-box;
    border-radius: 3.125em;
    display: block;
    background-color: #edf5fa;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
}

.container button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3.125em;
    padding: 1.5em;
    cursor: pointer;
    font-size: 1em;
}

@media only screen and (max-width: 425px) {
    .container {
        margin: 10em 2em;
    }
}
