.postContainer {
    padding: 0.5em;
}

.post {
    background-color: rgb(255, 255, 255);
    border-radius: 0.8em;
    padding: 1em;
    margin: 0.5em;
    max-width: 12em;
}

button {
    border-radius: 0.5em;
    margin-top: 0.3em;
}

.textArea {
    resize: none;
}

.submit {
    background: rgb(88, 36, 156);
    color: rgb(255, 255, 255);
}
