.postContainer {
    padding: 0.5em;
}

.post {
    background-color: #58249c;
    border-radius: 0.8em;
    padding: 1em;
    margin: 0.5em;
    max-width: 12em;
}

button {
    border-radius: 0.5em;
    margin-top: 0.3em;
}

.textArea {
    resize: none;
}

.submit {
    background: rgb(66, 64, 66);
    color: rgb(255, 255, 255);
}
