.container {
    background-color: rgba(89, 89, 89, 0.474);
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}

.logo {
    color: rgba(74, 74, 74, 0.703);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0.8em;
    cursor: pointer;
}

nav {
    padding: 1em;
}

nav a:hover {
    color: rgba(255, 151, 32, 0.703);
}

.btn {
    background-color: rgba(255, 151, 32, 0.703);
    color: black;
    border-radius: 5em;
    padding: 0.7em;
}

a:hover::before,
.btn {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
    border-radius: 5em;
}

a:hover {
    color: #ffee10;
    text-shadow: 0 0 15px #ffee10;
}

@media only screen and (max-width: 767px) {
    .container {
        display: block;
        text-align: center;
    }

    a {
        font-size: 0.75em;
        margin: 0.5em;
    }
}
