.homeHeader {
    display: flex;
    align-items: center;
    display: 'space-between';
    justify-content: space-between;
    flex: 1;
    padding-left: 16em;
    padding-right: 16em;
}
.homeButtons {
    display: flex;
}
video {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: opacity(60%);
}
.homeContainer {
    max-width: 100%;
}
