.container {
    display: flex;
    justify-content: center;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.posting {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    max-width: 1200px;
    flex-wrap: wrap;
}

@media (min-width: 480px) {
    .posting {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .posting {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px) {
    .posting {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}
