.spinnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
}

.posting {
    text-align: center;
    display: flex;
    grid-gap: 50px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.postingMessage {
    text-align: center;
    margin-top: -3em;
    color: #58249c;
}
@media only screen and (max-width: 425px) {
    .posting {
        display: block;
    }
    .posting div {
        margin-top: 1.5em;
    }
    .postingMessage {
        margin-top: 1em;
    }
}

@media (min-width: 768px) {
    .posting {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1024px) {
    .posting {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 50px;
        max-width: 1200px;
        flex-wrap: wrap;
    }
}
