.postContainter {
	padding: 20px;
}

.postArea {
	display: flex;
}

.postContainter img {
	width: 30%;
	border-radius: 5px;
}

.post {
	background-color: rgb(244, 244, 244);
	padding: 20px;
	margin: 10px;
}
